/*=============== MEDIA QUERIES ===============*/


/* For small devices */

@media screen and (max-width: 340px) {
    .place__container {
        grid-template-columns: max-content;
        justify-content: center;
    }
    .experience__content {
        padding: 0;
    }
    .experience__overlay:nth-child(1) {
        width: 190px;
    }
    .experience__overlay:nth-child(2) {
        width: 80px;
    }
    .home__info {
        width: 190px;
        padding: 1rem;
    }
    .experience__img,
    .video__container {
        padding: 0;
    }
}


/* For medium devices */

@media screen and (min-width: 568px) {
    .video__container {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
    .place__container {
        grid-template-columns: repeat(3, max-content);
    }
    .subscribe__form {
        width: 470px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__link {
        color: hsl(var(--hue-color), 24%, 35%);
        text-transform: initial;
    }
    .nav__link:hover {
        color: var(--text-color-light);
    }
    .nav__dark {
        position: initial;
    }
    .nav__menu {
        display: flex;
        column-gap: 2rem;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 2.5rem;
        align-items: center;
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .change-theme-name {
        display: none;
    }
    .change-theme {
        color: hsl(var(--hue-color), 24%, 35%);
    }
    .active-link::before {
        background-color: var(--white-color);
    }
    .scroll-header .nav__link {
        color: var(--text-color);
    }
    .scroll-header .active-link {
        color: var(--title-color);
    }
    .scroll-header .active-link::before {
        background-color: var(--title-color);
    }
    .scroll-header .change-theme {
        color: var(--text-color);
    }
    .section {
        padding: 7rem 0 2rem;
    }
    .home__container {
        height: 100vh;
        grid-template-rows: 1.8fr .5fr;
    }
    .home__data {
        align-self: flex-end;
    }
    .home__social {
        flex-direction: row;
        align-self: flex-end;
        margin-bottom: 3rem;
        column-gap: 2.5rem;
    }
    .home__info {
        bottom: 3rem;
    }
    /*==================== ABOUT ====================*/
    .about__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .about__img {
        width: 4500px;
        border-radius: .5rem;
        justify-self: center;
        align-self: center;
    }
    .about__description {
        text-align: center;
        margin-bottom: var(--mb-2-5);
    }
    .about__card {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border-radius: 10px;
        padding: 2rem;
    }
    .about__info {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2-5);
    }
    .about__info-title {
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    .about__info-name {
        font-size: var(--smaller-font-size);
    }
    .about__info-name,
    .about__info-title {
        display: block;
        text-align: center;
    }
    .about__buttons {
        display: flex;
        justify-content: center;
    }
    /*==================== CONTACT ====================*/
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact__information {
        text-align: left;
        margin: 0;
    }
    .contact__title {
        margin-bottom: var(--mb-2);
        text-align: left;
    }
}


/* For large devices */

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .home__container {
        grid-template-rows: 2fr .5fr;
    }
    .home__info {
        width: 328px;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
    .home__info-title {
        font-size: var(--normal-font-size);
    }
    .home__info-img {
        width: 240px;
    }
    /*==================== ABOUT ====================*/
    .about__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .about__img {
        width: 4500px;
        border-radius: .5rem;
        justify-self: center;
        align-self: center;
    }
    .about__description {
        text-align: center;
        margin-bottom: var(--mb-2-5);
    }
    .about__card {
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border-radius: 10px;
        padding: 2rem;
    }
    .about__info {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2-5);
    }
    .about__info-title {
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    .about__info-name {
        font-size: var(--smaller-font-size);
    }
    .about__info-name,
    .about__info-title {
        display: block;
        text-align: center;
    }
    .about__buttons {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}


/* For tall screens on mobiles y desktop*/

@media screen and (min-height: 721px) {
    body {
        margin: 0;
    }
    .home__container,
    .home__img {
        height: 640px;
    }
}